language: ruby
cache: bundler
services:
  - mysql

before_install:
  - cp config/database.yml.sample config/database.yml
  - mysql -e 'CREATE DATABASE online_exam_test DEFAULT CHARACTER SET utf8mb4 DEFAULT COLLATE utf8mb4_bin;'
  - gem update --system
  - gem install bundler
script:
  - bundle exec rails db:migrate RAILS_ENV=test
  - bundle exec rspec
  - bundle exec rubocop

