@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
  padding-top: 70px;
}

section {
  overflow: auto;
}

.navbar-brand {
  font-size: 1.7em;
  color: white;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

/* footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #13547a;
  color: white;
  text-align: center;
}

/* header  */

.navbar.navbar-defaults.navbar-fixed-top {
  background: #13547a;
}

.navbar.navbar-defaults.navbar-fixed-top .navbar-header .navbar-toggle {
  background-color: #fff;
  & .icon-bar {
    background: #000;
  }
}

nav ul a {
  color: #fff;
  padding-top: 30px;
  font-weight: bold;
  padding :10px;
  &:hover {
    color: #000;
    text-decoration: none;
    background-color: unset;
  }
}

ul.nav.navbar-right li a:hover, ul.nav.navbar-right li.open a:hover,
  ul.nav.navbar-right li a:focus, a.navbar-brand:hover {
  background-color: unset;
  color: #000;
}

.header.text-right {
  margin: 10px auto;
}
