@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
  text-decoration: none;
 }
}


/* footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #13547a;
  color: white;
  text-align: center;
}

/* header  */

header.navbar.navbar-fixed-top.navbar-inverse {
  background: #13547a;
}

header>ul li {
  float: right;
  display: inline-block;
}

header ul a {
  color: white;
  padding-top: 30px;
  font-weight: bold;
  padding :10px;
  &:hover {
    color: black;
    text-decoration: none;
 }
}

.header.text-right {
  margin: 10px auto;
}

.question {
  margin: 10px 0;
}
.corect {
  color: "#337ab7";
}
span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 120%;
}
