@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
  padding-top: 70px;
}

section {
  overflow: auto;
}

.navbar-brand {
  font-size: 1.7em;
  color: white;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

/* footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #13547a;
  color: white;
  text-align: center;
}

/* header  */

.navbar.navbar-defaults.navbar-fixed-top {
  background: #13547a;
}

.navbar.navbar-defaults.navbar-fixed-top .navbar-header .navbar-toggle {
  background-color: #fff;
  & .icon-bar {
    background: #000;
  }
}

nav ul a {
  color: #fff;
  padding-top: 30px;
  font-weight: bold;
  padding :10px;
  &:hover {
    color: #000;
    text-decoration: none;
    background-color: unset;
  }
}

ul.nav.navbar-right li a:hover, ul.nav.navbar-right li.open a:hover,
  ul.nav.navbar-right li a:focus, a.navbar-brand:hover {
  background-color: unset;
  color: #000;
}

.header.text-right {
  margin: 10px auto;
}

.question {
  margin: 10px 0;
}

span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 110%;
}

/* view list exam for user */

.exam-list .col-md-3 {
  padding: 10px;
  position: relative;
  .body {
    padding: 10px;
    border: 1px solid #d4d4d4;
    background: #dddbdb2b;
    border-radius: 5px;
    h3 {
      margin: 0;
    }
    span {
      font-style: italic;
    }
    &:hover {
      background: #d4d4d4;
      -webkit-transition: width 2s;
      transition: width 2s;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }

/* nested attribute */

.col-md-1.text-right {
  padding-right: 0px
}

.a-question.nested-fields {
  padding-bottom: 10px
}

.col-xs-1.col-md-1.text-left {
  padding-left: 0;
  margin-left: -3px
}

.a-question.nested-fields {
    padding: 15px 0;
}

.col-md-1.field.text-right {
    padding-top: 7px;
}

.form-group.row.nested-fields {
    margin-bottom: 5px;
}
}
